/*body{
    background-color: lightslategrey;
}

.chatRoom{
    margin: 0 auto;
    width: 50%;
    border: solid 1px;
    display: grid;
    grid-template-areas:
        "one one one three"
        "two two two three"
        "two two two three"
        "two two two .";
    grid-gap: 10px;
    grid-template-rows: 10vh 50vh 10vh 10vh;
}

.currUser{
    border: 1px solid purple;
    grid-area: one;
}

.chatWindow{
    border: 1px solid blue;
    grid-area: two;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chatDisplay{
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

.chatInput{
    margin-top: auto;
}

.memberDisp{
    border: 1px solid red;
    grid-area: three;
}*/