# Environment variables and secrets
server/.env
server/.env.development
server/.env.production
server/.env.local
*.local
!server/.env.example

# Python
.venv/
instance/
__pycache__/
.history/

# JavaScript / Node.js
node_modules/
dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDEs and Editors
.vscode/*
!.vscode/setting.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
*.code-workspace
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
